.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  padding: 20px;
}

.card {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(27, 31, 35, 0.1);
  padding: 16px;
  width: 100%;
}

.languageLabel {
  width: 20px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: #525252;
}

.card:hover {
  background-color: #f6f8fa;
  transform: translateY(-2px);
  transition: background-color 0.2s, transform 0.1s;
}

.cardLink {
  text-decoration: none;
  color: #0366d6;
}

.link h3 {
  font-weight: 600;
  margin-top: 16px;
  color: #24292e;
}

.cardDescription {
  margin-top: 12px;
  color: #586069;
}

.additonalInfo {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.additonalInfo p {
  flex: 1;
  display: flex;
}
