.container {
  display: flex;
  padding: 20px;
  background-color: #ffffff;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

div img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

.boldLabel {
  font-weight: bold;
  justify-content: center;
}

.topRight {
  margin-bottom: 10px;
}

a {
  font-size: 16px;
  color: #1a5178;
  text-decoration: none;
  margin-top: 10px;
}

.bulletin {
  list-style: disc inside;
  padding-left: 10px;
  margin: 10px;
}

.sidebar {
  flex: 1;
  background-color: #ffffff;
  padding: 30px;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
}

.content {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sidebar {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
  }

  div img {
    margin: 0 auto;
  }
}
