.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

.heading {
  font-size: 24px;
  margin: 0 0 10px;
}

.paragraph {
  font-size: 18px;
  margin: 0;
}
