.input {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: none;
}

.input::placeholder {
  color: #ffffff;
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: #080808;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5da;
  margin-left: auto;
}

.searchButton {
  background: none;
  border: none;
  color: #6a737d;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

/* Mobile screen cards stylings */
@media screen and (max-width: 700px) {
  .input {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
  }

  .input::placeholder {
    color: #ffffff;
  }

  .wrapper {
    display: flex;
    align-items: center;
    background-color: #080808;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5da;
    margin-left: auto;
  }

  .searchButton {
    background: none;
    border: none;
    color: #6a737d;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
  }
}
